:root {
    --primary-text-color: #555555;
    --secondary-text-color: #9DA4BD;
    --title-text-color: #303030;
    --secondary-title-text-color: #FFFFFF;
    --primary-background-color: #ffffff;
    --secondary-background-color: #F7F7F7;
    --accent-color: #FF6C00;


}

.body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

li,
ul {
    margin-left: 0px;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif; 
    font-size: 42px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.hero-title {
    
    font-size: 72px;
    line-height: 1.18;
}

.subtitle {
    font-size: 11px;
    
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.darkthem {
    color: var(--secondary-text-color);
}

/*.darkthem .section-title {
    /*color: var(--secondary-title-text-color);         після установки фону - зняти !!!*/


.header {
    
    color: var(--secondary-title-text-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.01;
   
}
.header-container {
    display: flex;
    align-items: center;
}


.logo {
margin-right: 70px;
padding-top: 32px;
}

.social-list {
    color: var(--title-text-color);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    text-decoration: none;
      
}


.header-nav .list {
    text-decoration: none;
    margin-right: 319px;
    margin-top: 48px;
    margin-left: 0px;
    padding-left: 0px;
    
    
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-nav-list.items:not(:last-child) {
    margin-right: 40px;
}

.header.contacts{
    display: flex;
    align-items: center;
    padding-top: 48px;
}

.tel{
    margin-right: 60px;
    padding-top: 48px;
}
.button {
    margin-right: 30px;
    padding-top: 48px;
}


.list {
    list-style: none;
}

.about .text {
    font-size: 14px;
    line-height: 1.86;
}

.sidebar {
    display: flex;
    align-items: center; 
}

.social-list.list{
    /*display: flex;
    align-items: center;*/
    transform: rotate(-90deg);
    transform-origin: left top;
}

.preference .subtitle {
    text-transform: none;
    color: var(--title-text-color);
}

.amount {
    color: var(--title-text-color);
    font-size: 42px;
    font-weight: 700;
    line-height: 1.36;
}

.name {
    color: var(--title-text-color);
    font-size: 18px;
    
    line-height: 1.39;
}

.position {
    color: var(--accent-color);
    font-size: 14px;   
    line-height: 1.36;
}
